RewriteEngine On

# Prevent directory browsing
Options -Indexes

# Rewrite rules for clean URLs
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)$ index.php [QSA,L]
